body {
  background-color: rgb(204, 193, 182);
}
.logo {
  background-color: white;
}
.formContainer {
  width: 920px;
  height: 620px;
  align-items: center;
  margin: auto;
  display: flex;
  flex: auto;
  margin-top: 50px;
  border-style: double;
  border: 10px solid white;
}
.inputs-container {
  width: 60%;
  height: 100%;
  /* background-color: rgb(56, 26, 26); */
  background-color: rgba(87, 84, 79, 0.829);

  text-align: center;
}

img {
  width: auto;
  height: 620px;
  padding-right: 10px;
  margin-top: 7px;
  align-items: center;
}
.usernameInp,
.inpPassword {
  padding: 9px;
  width: 230px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border-radius: 5px;
}
.fields {
  margin-top: 180px;
}
.h3 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 27px;
}
.alert {
  color: rgb(255, 0, 0);
  font-size: 14px;
}

.login-btn {
  height: 40px;
  width: 100px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(66, 61, 61);
  padding: 5px;
  border-radius: 12px;
}
.login-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(56, 26, 26);
}
/* SPINNER CODEE ------------------------------ */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #472713;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------- */

.text {
  margin: 20px;
  color: rgb(56, 26, 26);
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
